<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     >
	<Fragment>
    <DirectoryRef Id="Bin32">
      <Component Id="PLMPackLibExeConfigModif1" Guid="CF9F9E4A-7608-45B4-9625-A83789819896">
        <File Id="PLMPackLib.exe.config1" Source="..\PicParam\bin\x86\Release\PLMPackLib.exe.config" KeyPath="yes" Checksum="yes">
          <Permission ChangePermission="yes" GenericAll="yes" User="Everyone" TakeOwnership="yes" Write="yes" WriteAttributes="yes" WriteExtendedAttributes="yes" />
        </File>
        <util:XmlFile Id="SetDatabasePath1" Action="setValue"
                      File="[Bin32]PLMPackLib.exe.config" ElementPath="configuration/connectionStrings/add" Name="connectionString" Value="metadata=res://*/ModelSQLite.csdl|res://*/ModelSQLite.ssdl|res://*/ModelSQLite.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=[Bin32]StackBuilder.db&quot;" />
        <util:XmlFile Id="SetInitialReportTemplatePath1" Action="setValue"
                      File="[Bin32]PLMPackLib.exe.config" ElementPath="/configuration/applicationSettings/TreeDim.StackBuilder.GUIExtension.Properties.Settings/setting[\[]@name='ReportTemplatePath'[\]]/value" Value="[REPORTTEMPLATES]" />
        <util:XmlFile Id="ModifyThumbsPLMPackLibExeConfig1" Action="setValue"
                      File="[Bin32]PLMPackLib.exe.config" ElementPath="/configuration/CustomSection/@thumbnailsPath" Value="[Thumbnails]" />
        <util:XmlFile Id="ModifyDDirPLMPackLibExeConfig1" Action="setValue"
                      File="[Bin32]PLMPackLib.exe.config" ElementPath="/configuration/CustomSection/@databaseFile" Value="[Data]\Database\PicParam.db" />
        <util:XmlFile Id="ModifyEmptyDbPLMPackLibExeConfig1" Action="setValue"
                      File="[Bin32]PLMPackLib.exe.config" ElementPath="/configuration/applicationSettings/Pic.DAL.Properties.Settings/setting[\[]@name='EmptyDBFilePath'[\]]/value" Value="[Database]PicParamEmpty.db" />
        <Condition>NOT DATABASEEXISTS</Condition>
      </Component>
      <Component Id="PLMPackLibExeConfigModif2" Guid="C1584FB5-AD1D-4CBF-9A08-1F435B38BB72">
        <File Id="PLMPackLib.exe.config2" Source="..\PicParam\bin\x86\Release\PLMPackLib.exe.config" KeyPath="yes" Checksum="yes">
          <Permission ChangePermission="yes" GenericAll="yes" User="Everyone" TakeOwnership="yes" Write="yes" WriteAttributes="yes" WriteExtendedAttributes="yes" />
        </File>
        <util:XmlFile Id="ModifyDDirPLMPackLibExeConfig2" Action="setValue"
                      File="[Bin32]PLMPackLib.exe.config" ElementPath="/configuration/CustomSection/@databaseFile" Value="C:\wPicador\Data\Database\PicParam.db" />
        <util:XmlFile Id="SetDatabasePath2" Action="setValue"
                      File="[Bin32]PLMPackLib.exe.config" ElementPath="configuration/connectionStrings/add" Name="connectionString" Value="metadata=res://*/ModelSQLite.csdl|res://*/ModelSQLite.ssdl|res://*/ModelSQLite.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=[Bin32]StackBuilder.db&quot;" />
        <util:XmlFile Id="SetInitialReportTemplatePath2" Action="setValue"
                      File="[Bin32]PLMPackLib.exe.config" ElementPath="/configuration/applicationSettings/TreeDim.StackBuilder.GUIExtension.Properties.Settings/setting[\[]@name='ReportTemplatePath'[\]]/value" Value="[REPORTTEMPLATES]" />
        <util:XmlFile Id="ModifyThumbsPLMPackLibExeConfig2" Action="setValue"
                      ElementPath="/configuration/CustomSection/@thumbnailsPath" File="[Bin32]PLMPackLib.exe.config" Value="[Thumbnails]" />
        <util:XmlFile Id="ModifyEmptyDbPLMPackLibExeConfig2" Action="setValue"
                      ElementPath="/configuration/applicationSettings/Pic.DAL.Properties.Settings/setting[\[]@name='EmptyDBFilePath'[\]]/value" File="[Bin32]PLMPackLib.exe.config" Value="[Database]PicParamEmpty.db" />        
        <Condition>DATABASEEXISTS</Condition>
      </Component>
      <Component Id="PLMPackLibExeConfigRebranding" Guid="09A4538D-757D-4FED-8415-E2C5BAD3B42C" KeyPath="yes">
        <Condition>REBRANDED</Condition>
        <util:XmlFile Id="ModifyRebrandedPLMPackLibExeConfig" Action="setValue"
                     File="[Bin32]PLMPackLib.exe.config" ElementPath="/configuration/applicationSettings/PicParam.Properties.Settings/setting[\[]@name='UseRebrandedVersion'[\]]/value" Value="True" />
      </Component>
    </DirectoryRef>
	</Fragment>
</Wix>