<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     >
	<Fragment>
    <DirectoryRef Id="Bin32">
      <Component Id="PLMPackLibExeConfigModif1" Guid="12C76669-4212-4707-9B5B-79836D494FA6">
        <Condition>NOT DATABASEEXISTS</Condition>
        <File Id="PLMPackLib.exe.config1" Source="..\PicParam\bin\x86\Release\PLMPackLib.exe.config" KeyPath="yes" Checksum="yes">
          <Permission ChangePermission="yes" GenericAll="yes" User="Everyone" TakeOwnership="yes" Write="yes" WriteAttributes="yes" WriteExtendedAttributes="yes" />
        </File>
        <util:XmlFile Id="ModifyDDirPLMPackLibExeConfig1" Action="setValue"
                      File="[Bin32]PLMPackLib.exe.config" ElementPath="/configuration/CustomSection/@databaseFile" Value="[Data]\Database\PicParam.db" />
        <util:XmlFile Id="SetDatabasePath1" Action="setValue"
                      File="[Bin32]PLMPackLib.exe.config" ElementPath="configuration/connectionStrings/add" Name="connectionString" Value="metadata=res://*/ModelSQLite.csdl|res://*/ModelSQLite.ssdl|res://*/ModelSQLite.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=[Bin32]StackBuilder.db&quot;" />
        <util:XmlFile Id="SetInitialReportTemplatePath1" Action="setValue"
                      File="[Bin32]PLMPackLib.exe.config" ElementPath="/configuration/applicationSettings/TreeDim.StackBuilder.GUIExtension.Properties.Settings/setting[\[]@name='ReportTemplatePath'[\]]/value" Value="[REPORTTEMPLATES]" />
      </Component>
      <Component Id="PLMPackLibExeConfigModif2" Guid="591C2993-7297-476C-AE06-5FC354CFF4FA">
        <Condition>DATABASEEXISTS</Condition>
        <File Id="PLMPackLib.exe.config2" Source="..\PicParam\bin\x86\Release\PLMPackLib.exe.config" KeyPath="yes" Checksum="yes">
          <Permission ChangePermission="yes" GenericAll="yes" User="Everyone" TakeOwnership="yes" Write="yes" WriteAttributes="yes" WriteExtendedAttributes="yes" />
        </File>
        <util:XmlFile Id="ModifyDDirPLMPackLibExeConfig2" Action="setValue"
                      File="[Bin32]PLMPackLib.exe.config" ElementPath="/configuration/CustomSection/@databaseFile" Value="C:\wPicador\Data\Database\PicParam.db" />
        <util:XmlFile Id="SetDatabasePath2" Action="setValue"
                      File="[Bin32]PLMPackLib.exe.config" ElementPath="configuration/connectionStrings/add" Name="connectionString" Value="metadata=res://*/ModelSQLite.csdl|res://*/ModelSQLite.ssdl|res://*/ModelSQLite.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=[Bin32]StackBuilder.db&quot;" />
        <util:XmlFile Id="SetInitialReportTemplatePath2" Action="setValue"
                      File="[Bin32]PLMPackLib.exe.config" ElementPath="/configuration/applicationSettings/TreeDim.StackBuilder.GUIExtension.Properties.Settings/setting[\[]@name='ReportTemplatePath'[\]]/value" Value="[REPORTTEMPLATES]" />
      </Component>
      <Component Id="PLMPackLibExeConfigRebranding" Guid="AEFBF0C6-D6B6-44EC-AC72-B0985F0221BE" KeyPath="yes">
        <Condition>REBRANDED</Condition>
        <util:XmlFile Id="ModifyRebrandedPLMPackLibExeConfig" Action="setValue"
                     File="[Bin32]PLMPackLib.exe.config" ElementPath="/configuration/applicationSettings/PicParam.Properties.Settings/setting[\[]@name='UseRebrandedVersion'[\]]/value" Value="True" />
      </Component>
      <Component Id="UpdatePLMPackLib_exe_config" Guid="">
        <!--update config file-->
        <util:XmlFile Id="ModifyThumbsPLMPackLibExeConfig" Action="setValue"
                      ElementPath="/configuration/CustomSection/@thumbnailsPath" File="[Bin32]PLMPackLib.exe.config" Value="[Thumbnails]" />
        <util:XmlFile Id="ModifyEmptyDbPLMPackLibExeConfig" Action="setValue"
                      ElementPath="/configuration/applicationSettings/Pic.DAL.Properties.Settings/setting[\[]@name='EmptyDBFilePath'[\]]/value" File="[Bin32]PLMPackLib.exe.config" Value="[Database]PicParamEmpty.db" />
        <Condition>Installed OR NETFRAMEWORK40FULL</Condition>
      </Component>
    </DirectoryRef>
	</Fragment>
</Wix>