<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pic.Data.Properties.Settings.PicSharpDb1ConnectionString"
            connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=PicSharpDb1;Integrated Security=True;Pooling=False;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>