<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<startup useLegacyV2RuntimeActivationPolicy="true">
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
	<applicationSettings>
		<Pic.DAL.Properties.Settings>
			<setting name="Repository" serializeAs="String">
				<value>K:\Codeplex\PLMPackLib\Pic.Data.FileRepository</value>
			</setting>
      <setting name="EmptyDBFilePath" serializeAs="String">
        <value>K:\Codeplex\PLMPackLib\PicSharpDb\PicParamEmpty.db</value>
      </setting>
		</Pic.DAL.Properties.Settings>
	</applicationSettings>
	<connectionStrings>
		<add name="PicParamEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=K:\Codeplex\PLMPackLib\PicParamData\Database\PicParam.db&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
</configuration>
