<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Pic.Factory2D.Control.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pic.Factory2D.Control.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Pic.Factory2D.Control.Properties.Settings>
            <setting name="ImpositionMarginTopBottom" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ImpositionMarginLeftRight" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ComboTopBottomIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ComboLeftRightIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImpositionCarboardFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImpositionSpaceX" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ImpositionRemainingMarginTopBottom" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ImpositionRemainingMarginLeftRight" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="FileExportDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="FileOutputAppDXF" serializeAs="String">
                <value />
            </setting>
            <setting name="FileOutputAppAI" serializeAs="String">
                <value />
            </setting>
            <setting name="FileOutputAppCF2" serializeAs="String">
                <value />
            </setting>
            <setting name="FileOutputAppDES" serializeAs="String">
                <value>C:\wpicador\Bin32\PicGEOM.exe</value>
            </setting>
            <setting name="FileOutputAppPicDecoupeDES" serializeAs="String">
                <value>C:\wpicador\Bin32\PDecoup.exe</value>
            </setting>
            <setting name="FileOutputAppPDF" serializeAs="String">
                <value />
            </setting>
            <setting name="FileOutputAppPic3DDES" serializeAs="String">
                <value>C:\wpicador\Bin\Picador3D.exe</value>
            </setting>
            <setting name="ImpositionSpaceY" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NumberDirX" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="NumberDirY" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="LayoutMode" serializeAs="String">
                <value>0</value>
            </setting>
        </Pic.Factory2D.Control.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <applicationSettings>
        <Pic.Factory2D.Control.Properties.Settings>
            <setting name="TSButtonAvailableOceProCut" serializeAs="String">
                <value>False</value>
            </setting>
        </Pic.Factory2D.Control.Properties.Settings>
    </applicationSettings>
</configuration>
