<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <section name="CustomSection" type="Pic.DAL.ApplicationConfiguration, Pic.DAL" />
  </configSections>
  <!--Logging-->
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="TraceAppender" />
      <appender-ref ref="RollingFile" />
    </root>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="Log/Log.txt"/>
      <threshold value="INFO"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="*%-10level %-30date %-25logger %message %newline"/>
      </layout>
    </appender>
    <system.diagnostics>
      <trace autoflush="false" indentsize="3" />
    </system.diagnostics>
  </log4net>
  <!--Set file repository path here-->
  <CustomSection databaseFile="K:\GitHub\PLMPackLib\PicSharpDB\PicParamData\Database\PicParam.db"
                 thumbnailsPath="K:\GitHub\PLMPackLib\Pic.DAL\Thumbnails\"
                 />
</configuration>