<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Pic.DAL.SqlServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Pic.DAL.SqlServer.Properties.Settings>
            <setting name="DefaultImagePath" serializeAs="String">
                <value>K:\SVN Projects\PicSharp\Pic.Data.DocumentTree\Resources\DEFAULTTHUMBNAIL.BMP</value>
            </setting>
            <setting name="Repository" serializeAs="String">
                <value>K:\SVN Projects\PicSharp\Pic.Data.FileRepository</value>
            </setting>
        </Pic.DAL.SqlServer.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
